@font-face {
    font-family: NixieOne;
    src: url(fonts/NixieOne-Regular.otf);
  }

@font-face {
font-family: Gleegoo;
src: url(fonts/Glegoo-Regular.ttf);
}

@font-face {
    font-family: Arvo-Reg;
    src: url(fonts/Arvo-Regular.ttf);
    }


@font-face {
    font-family: Arvo-Bold;
    src: url(fonts/Arvo-Bold.ttf);
    }

  *{
      box-sizing: border-box;
  }


body {
    font-family: Arvo-Reg;
    background-color: white;
}

body, ul, li{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url("images/banner1.jpg");
    background-size: cover;
    height: 842px;
    color: white;
    padding-top: 37px;
    z-index: 100;
}

main{
    background-color: white;
}

#three-img, #perfect-stay, #reservation, #newsletter, #contact{
    margin: 0;
    padding: 0;
}

footer {
    background-color: white;
}

h1{
    font-size: 48px;
}

/*NAVBAR*/


#navLogo{
    padding-left: 61px;
    width: 200px;
}

#backslash{
  margin-top:-25px;
  margin-left: -10px;
  margin-right: -20px;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
    margin-right: 55px;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arvo-Reg;
    font-size: 14px;
    padding: 16px 9px;  
  }
  
  .topnav a:hover {
    outline-offset: -2px;
    outline: 2px solid;
    outline-color: white;
    
  }

  #backslash-link {
    outline: none;
  }


  .active {
    background-color: transparent;
    color: white;
    outline-offset: -2px;
    outline: 2px solid;
    outline-color: transparent;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }

  .dropbtn{
    margin-top: 0px;
    padding: 16px 9px;
  }
  
  .dropdown .dropbtn {
    font-family: Arvo-Reg;
    font-size: 14px;   
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    float: none;
    color: #949494;
    padding: 12px 85px 12px 12px;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    font-family: Glegoo;
    font-weight: lighter;
    display: block;
    text-align: left;
    font-weight: bold;
    
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    color: white;
    
  }

  .active:hover{
    outline-color: white;
    
  }
  
  .dropdown-content a:hover {
    background-color: #e9e9e9;
    color: #949494;
    
  }

  .dropdown-content a:active{
      color: #d94d39;
      
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  
  @media screen and (max-width: 866px) {

    .topnav a, .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
      font-weight: bold;
      border: 1.5px solid white;
      padding: 12px 18px;
      margin-right: 12px;
    }

    .topnav {
      margin-right: 0px;
    }
  }
  
  @media screen and (max-width: 866px) {

    .topnav.responsive {
        position: relative;
        display: flex;
        display: -webkit-box;      
        display: -moz-box;        
        display: -ms-flexbox;      
        display: -webkit-flex;
        flex-direction: column-reverse;
    }

    #backslash-link{
      display: none;
    }

    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      font-size: 16px;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
      font-size: 16px;
    }

    .active{
        border: 0;
    }
}

@media screen and (max-width: 866px){
    #navLogo{
        display: none;
    }

    .dropbtn{
        margin-top: 16px;
      }

    .topnav a{
        margin-top: 16px;
    }

    .imgB2{
        width: 100%;
    }
  }

@media screen and (max-width: 900px){
  .container{
    padding: 0 25px;
  }
  #nws-form{
    text-align: center;
  }

}

  /*BANNER 1*/

#slogan h1{
  font-size: 60px;
  margin-bottom: 10px;
}

#slogan h2{
  font-size: 40px;
}

#banner1-content {
    display: flex;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    height: 421px;
}

#arrow-left{
    margin-left: 25px;
}

#arrow-right{
    margin-right: 25px;
}

#arrow-down{
    display: flex;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 25px;
}

.arrow {
    height: 39px;
}

@media screen and (max-width: 800px){
  #slogan h1{
    font-size: 35px;
  }

  #slogan h2{
    font-size: 16px;
  }

  header{
    height: auto;
  }

}

@media screen and (max-width: 460px){
  #slogan h1{
    font-size: 24px;
  }

  #slogan h2{
    font-size: 16px;
  }

}


/*BANNER 2*/

.column {
    float: left;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 200ms;
    }
    
    .row::after {
    content: "";
    clear: both;
    display: table;
    }

.square {
  width: 266px;
  height: 266px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.square h3{
  font-size: 30px;
  color: #3f3f3f;
  text-align: center;
}

#img1{
  background: url("images/img1.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
}

#img2 {
  background: url("images/img2.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
}

#img3 {
  background: url("images/img3.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
}

#img1:hover{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/img1.jpg") no-repeat center;
  background-size: cover;
}

#img1:hover .square{
  background: #d94d39;
}

#img1:hover h3 {
  color: white;
}

#img2:hover{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/img2.jpg") no-repeat center;
  background-size: cover;
}

#img2:hover .square{
  background: #d94d39;
}

#img2:hover h3 {
  color: white;
}

#img3:hover{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/img3.jpg") no-repeat center;
  background-size: cover;
}

#img3:hover .square{
  background: #d94d39;
}

#img3:hover h3 {
  color: white;
}

@media screen and (max-width: 1150px) {
  .column {
    width: 100%;
    transition: width 200ms;
  }
}


/*BANNER 3*/

#perfect-stay{
    display: flex;
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

#perfect-stay h2{
  font-size: 40px;
  transition: all 200ms;
}

#logo-orange {
    margin-top: 113px;
    margin-bottom: 50px;
    width: 200px;
    transition: all 200ms;
}

p{
    
    font-family: Arvo-Reg;
}

h2 {
    font-family: Arvo-Reg;
}

#welcome-p{
    color: #7a7a7a;
    font-size: 16px;
    line-height: 25px;
    transition: all 200ms;
}

mark.darker{
    color: #333333;
    background: none;
}

#relax-a{
    margin-top: 63px;
    margin-bottom: 124px;
    font-size: 25px;
    font-family: Arvo-Reg;
    color: #d94d39;
    border: 3px solid #d94d39;
    padding: 35px 89px;
    text-decoration: none;
    background-color: white;
    transition: all 200ms;
}

#relax-a:hover{
  background-color: #d94d39;
  color: white;
  transition: all 200ms;
}


@media only screen and (max-width:666px){
  #perfect-stay h2{
    font-size: 30px;
    transition: all 200ms;
  }

  #welcome-p {
    font-size: 16px;
    transition: all 200ms;
  }

  #relax-a{
    padding: 17.5px 44.5px;
    transition: all 200ms;
    font-size: 16px;
  }

  #logo-orange{
    width: 150px;
    margin-top: 80px;
    transition: all 200ms;
  }
}

/*BANNER 4*/

#res-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
}

#res-container button{
  font-family: Arvo-Reg;
  background-color: white;
  border: 0;
  color: #d94d39;
  text-align: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 180px;
  padding-top: 24px;
  padding-bottom: 24px;
  outline: 3px solid transparent;
  outline-offset: -3px;
  transition: all 200ms;
}

#res-container button:hover{
    outline-color: white;
    background-color: #d94d39;
    color: white;
    transition: all 200ms;
}

#res-container h2{
  font-size: 50px;
  margin: 0;
  margin-top: 160px;
  text-align: center;
  transition: all 200ms;
}

#res-container h4{
  font-size: 20px;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 116px;
  text-align: center;
  line-height: 25px;
  transition: all 200ms;
}

#reservation {
  background-color: #d94d39;
  color: white;
  text-align: center;
}

#res-container form {
  margin: 0;
  text-align: left;
}

#res-container form div{
  display: inline-block;
  border-bottom: 1px solid white;
  margin-bottom: 16px;
}

#res-container .spacer {
  border: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#res-container .firstLineDiv {
  width: 49%;
}

#res-container label {
  float: left;
}


#res-container form input, textarea {
  outline: none;
  box-sizing: border-box;
  float: right;
  background-color: #d94d39;
  border: none;
  color: white;
  font-family: Arvo-Bold;
  width: 84%;
}


#res-container form input, label, option, select, textarea, button{
  font-size: 20px;
  transition: all 200ms;
}

textarea{
  resize: none;
  overflow: hidden;
  float: right;
  width: 100%;
}

select {
  background-color: #d94d39;
  color: white;
  border: none;
  padding-bottom: 5px;
}

option{
  color: #949494;
  background-color: white;
}

#textAreaDiv {
  width: 100%;
}

@media only screen and (max-width:1110px){
  #res-container .spacer {
    border: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #res-container .firstLineDiv {
    width: 100%;
    transition: all 200ms;
  }
}

@media only screen and (max-width:666px){

  #res-container h2{
    font-size: 35px;
    margin-top: 80px;
    transition: all 200ms;
  }
  
  #res-container h4{
    font-size: 16px;
    transition: all 200ms;
  }

  #res-container form input, label, option, select, textarea, button{
    font-size: 16px;
    transition: all 200ms;
  }

}


/*BANNER 5*/

#newsletter{
  
  color: white;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url("images/newsletter-bg.jpg") no-repeat center;
  background-size: cover;
}

#nws-title{
  margin-top: 160px;
  margin-bottom: 5px;
  font-size: 50px;
  text-align: center;
  transition: all 200ms;
}

#nws-subtitle{
  margin-top: 5px;
  margin-bottom: 115px;
  font-size: 20px;
  text-align: center;
  transition: all 200ms;
}

#nws-input{
  background-color: white;
  color: #bfbfbf;
  font-family: Arvo-Reg;
  font-size: 20px;
  padding-left: 22px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 380px;
  margin-right: 10px;
  transition: all 200ms;
}

::placeholder{
  color: #bfbfbf;
  opacity: 1;
}

#nws-button{
  margin-top: 15px;
  margin-left: 0;
  margin-bottom: 250px;
  padding: 22px 50px;
  background: transparent;
  border: 3px solid white;
  color: white;
  font-family: Arvo-Reg;
  font-size: 20px;
  transition: all 200ms;
}

#nws-button:hover{
  border-color: #d94d39;
  background: #d94d39;
  color: white;
  transition: all 200ms;
}

.container{
  display: flex;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

@media screen and (max-width: 1100px){

  #nws-input{
    font-size: 20px;
    padding-left: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 380px;
    margin-right: 10px;
    transition: all 200ms;
  }

}


@media screen and (max-width: 1075px){
  #nws-input{
    font-size: 16px;
    padding-left: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 320px;
    margin-right: 10px;
    transition: all 200ms;
  }

  #nws-button{
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 250px;
    padding: 22px 50px;
    font-size: 16px;
    transition: all 200ms;
  }
}

@media screen and (max-width: 885px){

  #nws-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #nws-input{
    font-size: 16px;
    padding-left: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 280px;
    margin-right: 10px;
    width: 100%;
    transition: all 200ms;
  }

  #nws-button{
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 250px;
    padding: 22px 50px;
    font-size: 16px;
    transition: all 200ms;
  }
}

@media screen and (max-width: 666px){

  #nws-title {
    font-size: 35px;
    margin-top: 80px;
    transition: all 200ms;
  }

  #nws-subtitle {
    font-size: 16px;
    transition: all 200ms;
  }

  #nws-input{
    padding-right: 22px;
    transition: all 200ms;
  }

}



/*BANNER 6*/

#contact{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 103px;
  background-color: white;
  color: #d94d39;
  display: flex;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
}

#address{
  display: flex;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#stars{
  margin-top: 19px;
}

#address p{
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #808080;
  margin-top: 29px;
  padding: 0;
  line-height: 25px;
}

#address #copyright{
  font-size: 12px;
  margin-top: 14px;
  padding: 0;
  line-height: 25px;
  background: none;
  color: #808080;
}

#line-break{
  padding: 0;
  margin-top: 27px;
  margin-bottom: 64px;
}

#links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#links a{
  text-decoration: none;
  color: #808080;
  font-size: 18px;
  text-align: center;
  margin: 0 20px;
}

#socials{
  margin-top: 60px;
  margin-bottom: 731px;
  display: flex;
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#socials a{
  margin: 0 4px;
}

@media screen and (max-width: 1035px){
  #links a{
    font-size: 16px;
  }

  #socials {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 950px){

  #links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*DATE PICKER*/

.ui-datepicker{
  background-color: white;
  padding-bottom: 26px;
  width: auto;
  text-align: center;
}

.ui-datepicker-header{
  background-color: #f4f4f4;
  padding-top: 26px;
  padding-bottom: 6px;
  padding-left: 21px;
  padding-right: 31px;
}

.ui-datepicker-prev{
  background: url("images/cal-left-arrow.png") no-repeat center;
  float: left;
  cursor: pointer;
  color: transparent;
}

.ui-datepicker-next{
  background: url("images/cal-right-arrow.png") no-repeat center;
  float: right;
  cursor: pointer;
  color: transparent;
}

.ui-datepicker-prev:hover{
  background: url("images/cal-left-arrow-hvr.png") no-repeat center;
  background-size: auto;
}

.ui-datepicker-next:hover{
  background: url("images/cal-right-arrow-hvr.png") no-repeat center;
}

.ui-datepicker-title{
  text-align: center;
  font-family: Arvo-Reg;
  font-size: 28px;
  text-transform: uppercase;
  color: #d94d39;
  padding: 0;
}

.ui-datepicker-year{
  display: none;
}

.ui-datepicker-calendar thead, thead tr {
  background-color: #f4f4f4;
  color: #707070;
  font-family: Arvo-Reg;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 12px;
  padding: 12px 12px;
}

.ui-datepicker-calendar {
  background-color: white;
  margin: 0;
  border-collapse: collapse;
}

.ui-datepicker-calendar th, td{
  padding: 11px;
}

.ui-state-default {
  text-decoration: none;
  color: #707070;
}

.ui-datepicker th {
  background-color:#f4f4f4;
  text-transform: uppercase;
  font-size: 13px;
  color: #7a7a7a;
}

.ui-datepicker tbody td {
  padding: 0;
}

  .ui-datepicker tbody td:last-child {
      border-right: 0px;
  }


  .ui-datepicker tbody tr:last-child {
      border-bottom: 0px;
  }

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 40px;
  color: #ffffff;
}

.ui-datepicker-calendar .ui-state-default {
    color: #707070;;
    height:40px;
    width:40px;

}

.ui-datepicker-calendar .ui-state-hover {
  background: #d94d39;
  color: white;
  border-radius: 50%;
}

.ui-datepicker-calendar .ui-state-active {
  background: white;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #000;
}

.ui-datepicker-calendar .ui-datepicker-other-month {
  color: #bababa;
}